.btn-create-debt {
  margin-left: 0;
}

.thead-debt-function,
.tfoot-debt-function {
  text-align: center;
}

.td-debt-function {
  vertical-align: middle !important;
}

// .tbody-debt {
//   .tr-debt {
//     &:hover {
//       background-color: yellowgreen;
//     }
//   }
// }
